<%#= render :partial => "header" %>

<div class="about-main">
  <h2>F_Magaとは</h2>
  <p>
    SNSサービスです。
    おすすめの雑誌を投稿し、他のユーザーの投稿した雑誌を評価したり楽しくコミュニケーションが取れます。
  </p>
  
  <img class="about-img" src="/sozai2.png">
</div>